<!DOCTYPE html>
<html lang="pt-br" data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pontos</title>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="@Url.Content("~/js/plugins/nucleo/css/nucleo.css")" rel="stylesheet" />
    <link href="@Url.Content("~/js/plugins/fortawesome/fontawesome-free/css/all.min.css")" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="@Url.Content("~/css/argon-dashboard_.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/bundle/app.min.css")" rel="stylesheet" />

</head>
<body>
    <div ui-view id="app"></div>

    <!-- Core -->
    <script src="@Url.Content("~/js/bundle/app.general.min.js")"></script>
    <!-- Services --> 
    <script src="@Url.Content("~/js/bundle/app.services.min.js")"></script>
</body>
</html>